<!-- Title -->
<% content_for :head do %>
  Your calendar!
<% end %>

<!-- Authorization -->
<div class='main'>
  <%= render 'form_session' %>
</div>

<!-- Registration -->
<div class='registration'>
  <div class='registration_back'>
  </div>
  <div class='registration_container'>
    <div class='registration_form'>
      <input type='button' id='registration_close' class='registration_close' value='Close' />
      <div class='registration_content'></div>
    </div>
  </div>
</div>

<!-- Recovery -->
<div class='recovery'>
  <div class='recovery_back'>
  </div>
  <div class='recovery_container'>
    <div class='recovery_form'>
      <input type='button' id='recovery_close' class='recovery_close' value='Close' />
      <div class='recovery_content'></div>
    </div>
  </div>
</div>

