<!-- Title -->
<% content_for :head do %>
  Your calendar!
<% end %>

<!-- Authorization -->
<div class='main'>
  <%= render 'form_session' %>
</div>

<!-- Registration -->
<div class='registration'>
  <div class='registration_back'>
  </div>
  <div class='registration_container'>
    <div class='registration_form'>
      <div class='registration_header'>
        <span>Join to us!</span>
        <div id='registration_close' class='registration_close btn_close'></div>
      </div>
      <div class='registration_content'></div>
    </div>
  </div>
</div>

<!-- Recovery -->
<div class='recovery'>
  <div class='recovery_back'>
  </div>
  <div class='recovery_container'>
    <div class='recovery_form'>
      <div class='recovery_header'>
        <span class='recovery_title'>Recovery password</span>
        <div id='recovery_close' class='recovery_close btn_close'></div>
      </div>
      <div class='recovery_content'></div>
    </div>
  </div>
</div>

<!-- Message -->
<div class='message'>
  <div class='message_container'>
    <div class='message_form'>
      <div class='message_image'></div>
      <div id='message_text' class='message_text'></div>
      <div id='message_close' class='message_close'>x</div>
    </div>
  </div>
</div>
